[user]
  email = francocatena@gmail.com
  name = Franco Catena
[alias]
  st = status
  ci = commit
  co = checkout
  di = diff
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
[color]
  ui = auto
[diff]
  tool = vimdiff
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
