[submodule ".vim/pack/bundle/start/vim-autoclose"]
	path = .vim/pack/bundle/start/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/pack/bundle/start/tlib_vim"]
	path = .vim/pack/bundle/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/pack/bundle/start/vim-addon-mw-utils"]
	path = .vim/pack/bundle/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/pack/bundle/start/vim-bundler"]
	path = .vim/pack/bundle/start/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/pack/bundle/start/vim-coffee-script"]
	path = .vim/pack/bundle/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/pack/bundle/start/vim-endwise"]
	path = .vim/pack/bundle/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/bundle/start/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/bundle/start/vim-git"]
	path = .vim/pack/bundle/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/pack/bundle/start/vim-markdown"]
	path = .vim/pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/pack/bundle/start/vim-rails"]
	path = .vim/pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/bundle/start/vim-rake"]
	path = .vim/pack/bundle/start/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/pack/bundle/start/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/bundle/start/vim-colors-solarized"]
	path = .vim/pack/bundle/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/bundle/start/vim-repeat"]
	path = .vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/bundle/start/checksyntax_vim"]
	path = .vim/pack/bundle/start/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule ".vim/pack/bundle/start/vim-ruby"]
	path = .vim/pack/bundle/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/bundle/start/vim-visual-star-search"]
	path = .vim/pack/bundle/start/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule ".vim/pack/bundle/start/vim-snippets"]
	path = .vim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/bundle/start/vim-dispatch"]
	path = .vim/pack/bundle/start/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/bundle/start/vim-abolish"]
	path = .vim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/pack/bundle/start/mustache.vim"]
	path = .vim/pack/bundle/start/mustache.vim
	url = git://github.com/juvenn/mustache.vim.git
[submodule ".vim/pack/bundle/start/vim-tags"]
	path = .vim/pack/bundle/start/vim-tags
	url = https://github.com/szw/vim-tags.git
[submodule ".vim/pack/bundle/start/puppet-syntax-vim"]
	path = .vim/pack/bundle/start/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim
[submodule ".vim/pack/bundle/start/tabular"]
	path = .vim/pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".terminal/dircolors-solarized"]
	path = .terminal/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".vim/pack/bundle/start/vim-vinegar"]
	path = .vim/pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/pack/bundle/start/vim-commentary"]
	path = .vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/bundle/start/splitjoin.vim"]
	path = .vim/pack/bundle/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/bundle/start/vim-tmux-navigator"]
	path = .vim/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".vim/pack/bundle/start/vim-exchange"]
	path = .vim/pack/bundle/start/vim-exchange
	url = git://github.com/tommcdo/vim-exchange.git
[submodule ".vim/pack/bundle/start/gist-vim"]
	path = .vim/pack/bundle/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/pack/bundle/start/webapi-vim"]
	path = .vim/pack/bundle/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/pack/bundle/start/vim-snipmate"]
	path = .vim/pack/bundle/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/pack/bundle/start/vim-eunuch"]
	path = .vim/pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/bundle/start/tern_for_vim"]
	path = .vim/pack/bundle/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule ".vim/pack/bundle/start/vim-projectionist"]
	path = .vim/pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/pack/bundle/start/lightline.vim"]
	path = .vim/pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/bundle/start/vim-haystack"]
	path = .vim/pack/bundle/start/vim-haystack
	url = https://github.com/tpope/vim-haystack
[submodule ".vim/pack/bundle/start/mustache"]
	path = .vim/pack/bundle/start/mustache
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule ".vim/pack/bundle/start/vim-elixir"]
	path = .vim/pack/bundle/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/pack/bundle/start/vim-jsx"]
	path = .vim/pack/bundle/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/pack/bundle/start/vim-javascript"]
	path = .vim/pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/bundle/start/vim-phoenix"]
	path = .vim/pack/bundle/start/vim-phoenix
	url = https://github.com/avdgaag/vim-phoenix
[submodule ".vim/pack/bundle/start/elm-vim"]
	path = .vim/pack/bundle/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
